<h1><strong>Stupid Coaching</strong></h1>
<form action="/answer" method="get" class="answers">
  <p>ask your coach anything:</p>
  <input type="text" name="question" placeholder="Whats your question?">
  <input type="submit" value="Ask!">
</form>
